---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      FlightCar iOS Design
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, user research, animations
    </p>
    <div class="work-cta-container">
      <a href="https://itunes.apple.com/us/app/flightcar-car-sharing-car/id971393285?mt=8" target="_blank">
        <div class="work-cta-primary">
          View in the app store
        </div>
      </a>
    </div>
    <%= image_tag "flightcar/flightcar.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        FlightCar, a company that helps people rent out their cars while they’re on vacation, came to thoughtbot for a complete visual update to their first iOS app. The app posed some unique communications and design challenges as a two-sided market, with users either renting cars or listing their own cars for rent, all taking place near airports across the United States.
      </p>
      <p class="work-text-block">
        Built by FlightCar’s fantastic mobile developers, the functionality of the app was mostly finished and their team had been working on design fixes along the way. Without a designer in-house, they had already identified the need for a designer to come into the project and create “visual polish” and generally update the look and feel of the app, but weren’t sure how to direct design decisions beyond that.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "flightcar/flightcar-2.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I served as the only designer on the project. With only a three-week window before needing to submit to the app store and implementation happening simultaneously, I decided to step back and evaluate the best approach to the problem.
      </p>
      <i class="work-text-block">
        This is a preview of the full case study. Request full case study by emailing <a href="mailto:michelle.ann.harvey@gmail.com">Michelle</a>.
      </i>
    </div>
    <div class="work-image-small">
      <%= image_tag "flightcar/flightcar-launch.gif" %>
    </div>
    <div class="work-next">
      <a href="/work/matching">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          Matching Game
        </div>
      </a>
      <a href="/work">
        <div class="work-next-cta">
          Return to work page
        </div>
      </a>
      <a href="/work/giveback">
        <div class="work-next-right">
          Project Give Back
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>

