.about {

  &-left {
    @include span-columns(12 of 12);

    @include media($medium-screen-up) {
      @include span-columns(3 of 12);
      padding-top: 8px;
    }

    &-color {
      display: inline-block;
      float: left;
      font-size: 0.8em;
      margin-bottom: 0;
    }

    &-color-palette {
      display: inline-block;
      float: right;
      margin-top: 7px;
      right: 0;
      width: 59%;
    }
  
  }

  &-right {
    @include span-columns(12 of 12);

    @include media($medium-screen-up) {
      @include span-columns(9 of 12);
    }
  
    &-title {
      font-weight: $font-weight-bold;
    } 
  }
}
