#blog {
  color: $base-font-color;
}

#blog ul {
  list-style-type: disc;
  margin-bottom: 15px;
  margin-left: 20px;
}

#blog a {
  color: $base-accent-color;
}

#blog h3 a {
  color: $base-font-color;

  &:hover {
    color: $base-accent-color;
  }
}

#blog h4 {
  margin-top: 40px;
}

.post {
  padding-bottom: 30px;
  list-style-type: none;

  &-image {
    width: 100%;
  }

  &-inline {
    @include span-columns(12 of 12);

    @include media($medium-screen-up) {
      @include span-columns(9 of 12);
    }
  }

  &-image-inline {
    @include span-columns(12 of 12);

    @include media($medium-screen-up) {
      @include span-columns(3 of 12);
      padding-right: 20px;
    }
  }

  &-image-center {
    display: block;
    margin: 0 auto;
  }

  &-title {
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
  }

  &-date {
    color: tint($base-font-color, 40%);
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
  }

  &-end {
    margin-bottom: 80px;

    &-image {
      background: $white;
      display: block;
      height: 25px;
      margin: 0 auto;
      padding: 0 5px 0 2px;

      &:hover {
        transform: rotate(30deg);
      }
    }

    &:after {
      background-color: #ddd;
      content: '';
      display: block;
      font-weight: normal;
      height: 1px;
      margin-top: -1em;
      width: 100%;
    }

  }
}
