footer {
  background-color: tint($light-gray, 30%);
  color: $footer-font-color;
  margin: 2em 0 0;
  padding: 2em 1em;

  & p {
    margin-bottom: 0;

    & a {
      border-bottom: 1px solid $footer-font-color;
      color: $footer-font-color;

      &:hover {
        border-bottom: 1px solid $base-accent-color;
        color: $base-accent-color;
      }
    }
  }
}

.footer-main {
  text-align: center;

  & h4 {
    margin-bottom: 0;
  }

}

.footer-left {
  @include span-columns(12 of 12);
  text-align: center;
  margin-top: 15px;

  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    text-align: left;
    margin-top: 0;
  }
}

.footer-right {
  @include span-columns(12 of 12);
  text-align: center;
  margin-top: 15px;

  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    text-align: right;
    margin-top: 0;
  }

  li {
    display: inline-block;

    & a {
      border-bottom: 1px solid $footer-font-color;
      color: $footer-font-color;

    &:hover {
      border-bottom: 1px solid $base-accent-color;
      color: $base-accent-color;
    }
  }

  &:before {
    content: '·';
  }

  &:first-child:before {
    content: none;
  }

  }
}
