.landing-nav {
  font-size: 17px;
  height: 4em;
  padding: 0.5em 0;
  position: absolute;
  right: 40px;
  z-index: 1;

  &-items {
  }

  &-item {
    display: inline-block;
    margin-left: 20px;
    color: $white;

    &:hover a {
      color: $white;
      text-decoration: underline;
    }
  }
}

