ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

.wrap-container {
  @include outer-container;
  padding: 0 $gutter;

  @include media($medium-screen-up){
    @include outer-container;
  }
}

.centered-content {
  @include fill-parent;
  @include clearfix;
  text-align: center;
}

.body-content-container {
  padding: 3em em(10);
  position: relative;

  @include media($medium-screen-up) {
    padding: 8em em(10);
  }
}

.blog-container {
  @include outer-container;
  padding: 3em $gutter;

  @include media($medium-screen-up){
    @include outer-container;
    padding: 8rem 11rem 0;
  }
}
