.card {
  border-radius: 4px;
  border: 1px solid $light-gray;
  display:inline-block;
  height: 480px;
  margin: 10px;
  width: 200px;
}

.card-container {
  text-align: center;
}

// card padding

.small {
  padding: 114px 53px;
}

.small-two {
  padding: 114px 50px;
}

.small-three {
  padding: 114px 54.5px;
}

.lunchbox {
  padding: 114px 29px 114px 48px;
}

.medium {
  padding: 85px 52.5px;
}

.seuss {
  padding: 69px 47px;
}

.large {
  padding: 64px 55px;
}

.crown {
  padding: 34px 51px;
}

.hair {
  padding: 67px 52px;
}

.hat {
  padding: 64px 53px;
}

.santa {
  padding: 34px 45px;
}

.antlers {
  padding: 20px 35px;
}

// Flip cards

/* entire container, keeps perspective */

@include media($medium-screen-up) {
  .flip-container {
    perspective: 1000;
  }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
      transform: rotateY(180deg);
    }


  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }

}

.base-spacing {
  margin-bottom: 30px;
}
