.global-nav {
  height: 6em;
  padding: 1em 1em;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid rgb(241, 241, 241);

  @include media($medium-screen-up) {
    height: 4em;
    padding: 2em 0 4em;
  }
}

.nav-logo img {
  width: 46px;
}

.nav-menu-left {
  float: left;
  display: inline-block;
}

.nav-menu-right {
  float: right;
  margin-top: 12px;
}

.nav-menu-item {
  display: inline-block;
  margin-left: 20px;

  &:hover a {
    color: $base-font-color;
    text-decoration: underline;
  }

  & a {
    color: $base-font-color;
  }
}
