.hero-laptop.loaded {
  transition-duration: 700ms;
  transition-delay: 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(50px, 230px);
}


.hero-desktop.loaded {
  transition-duration: 700ms;
  transition-delay: 400ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(-10px, 500px);
}

.hero-coffee.loaded {
  transition-duration: 700ms;
  transition-delay: 900ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(-300px, -5px);
}

.hero-mouse.loaded {
  transition-duration: 700ms;
  transition-delay: 600ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(-410px, -5px);
}

.hero-notebook.loaded {
  transition-duration: 700ms;
  transition-delay: 700ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(210px, -35px);
}


.hero-keyboard.loaded {
  transition-duration: 700ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: translate(0, -75px);
}

