<nav class="global-nav">
  <section class="wrap wrap-container global-nav-border">
  <ul class="nav-menu-left">
    <li>
      <%= link_to image_tag("zenefits/zenefits-logo-mark.png"), "/", :class => 'nav-logo zenefits-header-logo-mark' %>
      <%= link_to image_tag("zenefits/zenefits-logo-text.png"), "/", :class => 'nav-logo zenefits-header-logo-text' %>
    </li>
  </ul>
  <ul class="nav-menu-right">
    <li class="nav-menu-item">
      <a href="/work">michelle@company.com</a>
    </li>
    <li class="nav-menu-item">
      <a href="/about">log out</a>
    </li>
  </ul>
</nav>

<section class="wrap-container body-content-container">
  <header class="zenefits-header">
    <h1>
      Active Enrollments
    </h1>
    <p class="zenefits-header-text">
      Active enrollment requires employees to choose an enrollment plan, regardless of their coverage from the previous year. <a href="http://www.zenefits.com/benefits-administration-software/benefits-renewal-and-open-enrollment" class="zenefits-link">Read more about active enrollment</a>.
    </p>
  </header>

  <div class="zenefits-ctas">
    <a href="/">
      <div class="zenefits-header-cta">
        Admin Open Enrollment
      </div>
    </a>
    <a href="/">
      <div class="zenefits-header-cta">
        Edit Settings
      </div>
    </a>
  </div>
  <table class="tables tables-label">
    <thead>
      <tr>
        <th class="tables-label-header tables-label-header--medical">Medical Plans</th>
      </tr>
    </thead>
  </table>
  <table class="tables">
    <thead>
      <tr>
        <th>Carrier</th>
        <th>Plan</th>
        <th>Employer Contribution</th>
        <th>Waiting Period</th>
        <th>Renewal Date</th>
        <th>Enrollment Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tables-row">
        <td class="anthem-logo">
          <img src="/images/zenefits/anthem-logo.jpg" />
          <p class="table-small-text">Policy number: 5979309</p>
        </td>
        <td>
          <p class="table-bold-text">Anthem Blue Cross PPO</p>
          <p>Classic 250/20/20</p>
        </td>
        <td>
          <p>100% for employee</p>
          <p>50% for dependent</p>
        </td>
        <td>
          <p>First of the month following hire date</p>
        </td>
        <td>
          <p>Jan 1, 2015</p>
        </td>
        <td>
          <p class="tables-complete">complete</p>
          <a href="/" class="zenefits-link table-small-text">download report</a>
        </td>
      </tr>
      <tr class="tables-row">
        <td class="anthem-logo">
          <img src="/images/zenefits/anthem-logo.jpg" />
          <p class="table-small-text">Policy number: 5979309</p>
        </td>
        <td>
          <p class="table-bold-text">Anthem Blue Cross HSA</p>
          <p>Lumenos 1500/80/50</p>
        </td>
        <td>
          <p>100% for employee</p>
          <p>50% for dependent</p>
        </td>
        <td>
          <p>First of the month following hire date</p>
        </td>
        <td>
          <p>Jan 1, 2015</p>
        </td>
        <td>
          <p class="tables-complete">complete</p>
          <a href="/" class="zenefits-link table-small-text">download report</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="zenefits-ctas">
    <a href="/">
      <div class="zenefits-header-cta">
        Admin Open Enrollment
      </div>
    </a>
    <a href="/">
      <div class="zenefits-header-cta">
        Edit Settings
      </div>
    </a>
  </div>
  <table class="tables tables-label">
    <thead>
      <tr>
        <th class="tables-label-header tables-label-header--dental">Dental Plans</th>
      </tr>
    </thead>
  </table>
  <table class="tables">
    <thead>
      <tr>
        <th>Carrier</th>
        <th>Plan</th>
        <th>Employer Contribution</th>
        <th>Waiting Period</th>
        <th>Renewal Date</th>
        <th>Enrollment Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="metlife-logo">
          <img src="/images/zenefits/metlife-logo.png" />
          <p class="table-small-text">Policy number: 2622959</p>
        </td>
        <td>
          <p class="table-bold-text">Metlife Dental</p>
          <p>100/80/50</p>
        </td>
        <td>
          <p>100% for employee</p>
          <p>50% for dependent</p>
        </td>
        <td>
          <p>First of the month following hire date</p>
        </td>
        <td>
          <p>Jan 1, 2015</p>
        </td>
        <td>
          <p class="tables-complete">complete</p>
          <a href="/" class="zenefits-link table-small-text">download report</a>
        </td>
      </tr>
    </tbody>
  </table>

</section>
