---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Illustrations
    </h3>
    <p class="work-title-secondary">
      Created using Sketch
    </p>
    <div class="work-cta-container">
      <a href="https://dribbble.com/mvenetucci" target="_blank">
        <div class="work-cta-primary">
          View on Dribbble
        </div>
      </a>
    </div>
    <div class="work-image-medium">
      <%= image_tag "illustrations/illustrations-1.png", class: "work-image-full" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I work on personal illustration projects and sometimes share on Dribbble. Since 2015, all illustrations have been created in Sketch. You can see more <a href="https://dribbble.com/mvenetucci" target="_blank">here</a>.
      </p>
      <div class="work-image-medium">
        <%= image_tag "illustrations/illustrations-4.png", class: "" %>
      </div>
      <div class="work-image-medium">
        <%= image_tag "illustrations/illustrations-5.png", class: "" %>
      </div>
    </div>

    <div class="work-next">
      <a href="/work/matching">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          Matching Game
        </div>
      </a>
      <a href="/">
        <div class="work-next-cta">
          Return to work
        </div>
      </a>
      <a href="/work/middleman">
        <div class="work-next-right">
          Middleman
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>
