<nav class="landing-nav">
  <ul class="landing-nav-items">
    <li class="landing-nav-item">
      <a href="/">about</a>
    </li>
    <li class="landing-nav-item">
      <a href="/">work</a>
    </li>
    <li class="landing-nav-item">
      <a href="/blog">blog</a>
    </li>
  </ul>
</nav>

