<!-- <nav class="global&#45;nav"> -->
<!--   <section class="wrap&#45;container"> -->
<!--   <ul class="nav&#45;menu&#45;left"> -->
<!--     <li> -->
<!--       <%= link_to image_tag("nav&#45;coffee.png"), "index.html", :class => 'nav&#45;logo' %> -->
<!--     </li> -->
<!--   </ul> -->
<!--   <ul class="nav&#45;menu&#45;right"> -->
<!--     <li class="nav&#45;menu&#45;item"> -->
<!--       about -->
<!--     </li> -->
<!--     <li class="nav&#45;menu&#45;item"> -->
<!--       work -->
<!--     </li> -->
<!--     <li class="nav&#45;menu&#45;item"> -->
<!--       thoughts -->
<!--     </li> -->
<!--   </ul> -->
<!-- </nav> -->
