<nav class="global-nav">
  <section class="wrap-container global-nav-border">
  <ul class="nav-menu-left">
    <li>
      <%= link_to image_tag("nav-coffee.png"), "/", :class => 'nav-logo' %>
    </li>
  </ul>
  <ul class="nav-menu-right">
    <li class="nav-menu-item">
      <a href="/">about</a>
    </li>
    <li class="nav-menu-item">
      <a href="/">work</a>
    </li>
    <li class="nav-menu-item">
      <a href="/blog">blog</a>
    </li>
  </ul>
</nav>
