---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
  <div class="about-left">
    <%= image_tag "about-michelle.png" %>
    <p class="about-left-color">
      Current color palette:
    </p>
    <%= image_tag "color-palette.png", class: "about-left-color-palette" %>
  </div>
  <div class="about-right">
    <p class="about-right-title">
      Michelle is a Product Designer in the Bay Area.
    </p>
    <p>
      I was born and raised in the Northwest, where I grew up surrounded by artwork and evergreens. I have an urban planning degree, and my former career consisted of running farm tours and sipping signature cocktails (ok, that last part was just a job perk).
    </p>
    <p>
      I enjoy minimalism in life, but like a lot of color when I design. I’m slowly turning into my mother, who also uses Vim on a regular basis.
    </p>
    <p>
    I currently live in the Bay Area with my husband, <a href="https://twitter.com/jatescher" target="_blank">Julian</a>, and work as a product designer at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a>.
    </p>
  </div>
</section>
