---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
  <div class="about-left">
    <%= image_tag "about-michelle.png" %>
  </div>
  <div class="about-right">
    <p class="about-right-title">
      Michelle is a Product Designer in the Bay Area.
    </p>
    <p>
      Michelle was born and raised in the Northwest, where she grew up surrounded by artwork and evergreens. She has an urban planning degree and her former career consisted of running farm tours and sipping signature cocktails (ok, that last part was just a job perk).
    </p>
    <p>
      She most enjoys creating products when she has a deep understanding of users and the problem the product is trying to solve. She admits to slowly turning into her mother, who also uses Vim on a regular basis.
    </p>
    <p>
      Michelle currently lives in the Bay Area with her husband, <a href="https://twitter.com/jatescher" target="_blank">Julian</a>, and works as a Product Designer at <a href="https://www.lyft.com/">Lyft</a>. Before that, she worked for <a href="http://thoughtbot.com" target="_blank">thoughtbot</a>. Take a look at some of <a href="/work">her work</a> or read the <a href="/blog">blog</a>.
    </p>
  </div>
</section>
