---
title: Friendship Matching Game
date: 2015-12-28 20:15 PDT
tags: design, side project
---

<%= image_tag "/images/matching/matching_cards.png", alt: "matching cards", class: "post-image" %>

It's not every day you run across a genuine, deep friendship. I've been lucky enough to have a best friend for the past 22 years; we grew up across the street from each other, and her family continues to feel like an addition to my own family.

I wanted to find a way to celebrate all our years together. My mom was always very trigger-happy with the camera, which means we have tons of amazing photos documenting many years together. I decided to pick some of my favorites to illustrate and turn into a <a href="/work/matching">Friendship Matching Game</a>.

<%= image_tag "/images/matching/match2.png", alt: "matching cards", class: "post-image" %>

I just posted a case study with full visuals for the game.
<a href="/work/matching">Visit the case study now.</a>
