---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>
<div role="main" class="main-container">

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Love is Love Project
    </h3>
    <p class="work-title-secondary">
      Illustration, site design, implementation
    </p>
    <div class="work-cta-container">
      <a href="https://venetucci.github.io/love-is-love/" target="_blank">
        <div class="work-cta-primary">
          View Site
        </div>
      </a>
      <a href="https://github.com/venetucci/love-is-love" target="_blank">
        <div class="work-cta-secondary">
          View on Github
        </div>
      </a>
    </div>
    <div class="work-image-nav">
    </div>
    <%= image_tag "love/love-1.gif", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        Love is love is a personal illustration project, which offers free custom illustrations to same-sex couples.
      </p>
      <p class="work-text-block">
        The landing page for the project was built using Github pages and some basic Javascript and CSS animations.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "blog/love-illus.png", class: "work-image-full" %>
    </div>

    <div class="work-next">
      <a href="/work/bumr">
        <div class="work-next-left">
          <div class="work-next-left-arrow"></div>
          BUMR
        </div>
      </a>
      <a href="/">
        <div class="work-next-cta">
          Return to work
        </div>
      </a>
      <a href="/work/nerdbot">
        <div class="work-next-right">
          Nerdbot
          <div class="work-next-right-arrow"></div>
        </div>
      </a>
    </div>
</section>
</div>
